<app-navbar></app-navbar>
<div class="container">
  <div class="row"></div>
</div>
<!-- <section id="about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section_title">
          <h2>About Us</h2>
          <div class="divider"></div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section id="about-us" style="padding-top:5%; ">
  <div class="container section_title7">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section_title">
          <h2>About Us</h2>
          <div class="divider"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row ">
    <div class="col-md-6 col-md-offset-2 m-auto">
      <div class="about ">
        <img [src]="about_us" />
      </div>
    </div>
    <div class="col-md-6 wow fadeInRight" data-wow-delay="0.2s">
      <div class="section_title2">
        <p>
          &nbsp; &nbsp; Lorem ipsum dolor sit amet, consectetur adipisicing
          elit. Possimus vel tenetur explicabo necessitatibus, ad soluta
          consectetur illo qui voluptatem. Quis soluta maiores eum. Iste modi
          voluptatum in repudiandae fugiat suscipit dolorum harum, porro
          voluptate quis? Alias repudiandae dicta doloremque voluptates soluta
          repellendus, unde laborum quo nam, ullam facere voluptatem similique.
        </p>
        <p>
          &nbsp; &nbsp; Lorem ipsum dolor sit amet, consectetur adipisicing
          elit. Possimus vel tenetur explicabo necessitatibus, ad soluta
          consectetur illo qui voluptatem.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container  " style="padding:3%; ">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="section_title">
        <h2>Our Team</h2>
        <div class="divider"></div>
      </div>
    </div>
  </div>
</div>

<div class="demo">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6"></div>

      <div class="col-md-4 col-sm-6">
        <div class="our-team">
          <div class="team_img">
            <img [src]="team1" />
            <ul class="social">
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-whatsapp"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Anand Mahamuni</h3>
            <span class="post">Owner & Founder</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 wow fadeInUp">
        <div class="member">
          <img [src]="team1" class="img-fluid" alt="Web Support" />
          <div class="member-info">
            <div class="member-info-content">
              <h4>Walter White</h4>
              <span></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="member">
          <img [src]="team2" class="img-fluid" alt="Web Support" />
          <div class="member-info">
            <div class="member-info-content">
              <h4>Sarah Jhonson</h4>
              <span></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="member">
          <img [src]="team3" class="img-fluid" alt="Web Support" />
          <div class="member-info">
            <div class="member-info-content">
              <h4>William Anderson</h4>
              <span></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="member">
          <img [src]="team4" class="img-fluid" alt="Web Support" />
          <div class="member-info">
            <div class="member-info-content">
              <h4>Amanda Jepson</h4>
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- #team -->
<app-footer></app-footer>
